.header-img {
  background-image: url(https://images.ctfassets.net/ojjl8z69k7ls/5PK7ivS5C9iVuO308WzDW9/8d5c7876a78e9d39a7c7b59d92ed69ff/header-who-we-are__1_.jpg?h=322&fit=crop&f=center&fm=webp);
  width: 99.1vw;
  height: 25vh;
}

.absolute {
  position: absolute;
}

.h1-header {
  color: white;
  font-size: 40px;
  left: 42%;
  top: 150px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'h1 h1'
    'img1 img2'
    'p1 p1'
    'p2 p2';
  align-items: center;
  text-align: center;
  grid-gap: 0.1px;
}

.grid-h1-about {
  grid-area: h1;
  font-size: 60px;
}

.grid-img-1 {
  grid-area: img1;
  background-image: url(//images.ctfassets.net/ojjl8z69k7ls/7DkQ7DvCAkW08viGihOiJD/6e3550c2c6e101e7ed56abfb38c65d8d/art-1.jpg);
  width: 400px;
  height: 290px;
  margin-left: 40%;
}

.grid-img-2 {
  grid-area: img2;
  background-image: url(//images.ctfassets.net/ojjl8z69k7ls/7GI2Ag4fP3wLbI54V4K3sm/4b62aaf0e245c2450481564f3e27f06b/art-3.jpg);
  width: 400px;
  height: 290px;
  margin-left: 10%;
}

.grid-p-1 {
  grid-area: p1;
  font-size: 30px;
  margin-bottom: 70px;
  padding: 0px 160px;
}

.grid-p-2 {
  grid-area: p2;
  font-size: 20px;
  margin-bottom: 200px;
  padding: 0px 160px;
}
