* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-img {
  background-image: url(//images.ctfassets.net/ryplwhabvmmk/2UKYaiNwsGRrzpnJZQ9F4X/4a713ef33851ac0cb0c8c6482c63783b/1920x1080_Reidane-God-of-the-Worthy.jpg);
  width: 100vw;
  height: 91.6vh;
}

.p1 {
  position: absolute;
  color: white;
  margin-left: 150px;
  top: 160px;
  font-size: 20px;
}

.h1 {
  position: absolute;
  color: white;
  margin-left: 150px;
  top: 190px;
  font-size: 50px;
}

.svg-img {
  filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(296deg)
    brightness(99%) contrast(102%);
  width: 120px;
  height: 120px;
}

.grid- {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  padding-top: 20%;
  align-items: center;
  text-align: center;
}

.grid-h1 {
  color: white;
  font-size: 40px;
}

.grid-p {
  color: white;
  margin-top: 30px;
  font-size: 20px;
  border: 1px solid white;
  padding: 20px;
  width: 200px;
  margin-left: 140px;
}

.grid-p:hover {
  cursor: pointer;
}
