.home-wrapper {
  background-image: url(https://media.magic.wizards.com/4dq55kuz91.jpg);
  width: 100vw;
  height: 91.6vh;
}

.main-h1 {
  position: absolute;
  color: white;
  left: 120px;
  top: 200px;
  font-size: 40px;
}

.home-p {
  position: absolute;
  color: white;
  left: 90px;
  top: 400px;
  text-align: center;
  width: 30%;
  font-size: 20px;
  line-height: 35px;
}

.div-p {
  display: flex;
}
