.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin: 40px;
}

.input-1 {
  margin-right: 30px;
}

.input-2 {
  margin-left: 30px;
}

.input {
  height: 40px;
  color: #4eb7ee;
  font-size: 15px;
}

.btn {
  border: #4eb7ee solid 1px;
  width: 100px;
  height: 40px;
  background-color: #4eb7ee;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 50px;
  margin-left: 40%;
  margin-bottom: 20px;
}

.h1-login {
  margin-top: 20px;
}
