.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-register {
  margin: 20px;
}

.input-wrapper {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
}

input {
  margin: 30px;
  height: 40px;
  color: #4eb7ee;
  font-size: 15px;
}

.btn {
  border: #4eb7ee solid 1px;
  width: 120px;
  height: 50px;
  background-color: #4eb7ee;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 50px;
  margin-left: 38%;
  margin-bottom: 20px;
}
