.sure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  padding-top: 30px;
}

.sure-h1 {
  font-size: 25px;
}

.sure-btns {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  padding-bottom: 30px;
}

.sure-btn {
  border: #4eb7ee solid 1px;
  width: 100px;
  height: 40px;
  background-color: #4eb7ee;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 50px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 30px;
}

.imgHover {
  position: absolute;
  left: 30px;
}
