.Nav {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}

.NavLink {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.NavLink:hover {
  color: #15cdfc;
}

.NavLink:active {
  color: #15cdfc;
}

.Bars {
  display: none;
  color: #fff;
}

.NavMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;
  margin-right: 24px;
}

.NavBtn {
  display: flex;
  align-items: center;
  margin-right: 24px;
  white-space: nowrap;
}

.NavBtnLink {
  border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
}

.NavBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
