.packs-container {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fa0%2Fb9%2F1d%2Fa0b91dcd5ab54bb509358bbcd797a289.jpg&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  height: 91.6vh;
}

.pack {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  flex: 0 1 calc(25% - 1em);
  border-radius: 40%;
  height: 550px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 80px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: 400px;
}

.buy-pack-btn {
  border: #4eb7ee solid 1px;
  width: 100px;
  height: 40px;
  background-color: #4eb7ee;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.shop-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: wrap;
}
