.toggle-nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
}

.toggle-btn-1 {
  padding-top: 10px;
  border-right: solid 1px gray;
  border-bottom: solid 2px gray;
  flex-grow: 1;
  text-align: center;
  letter-spacing: 3px;
}

.toggle-btn-2 {
  padding-top: 10px;
  border-left: solid 1px gray;
  border-bottom: solid 2px gray;
  flex-grow: 1;
  text-align: center;
  letter-spacing: 3px;
}

.toggle-btn-1:hover {
  cursor: pointer;
}

.toggle-btn-2:hover {
  cursor: pointer;
}

.toggle-nav {
  color: #175fef;
}

.nav {
  color: black;
}

.account-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.current-info {
  width: 50%;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  padding-left: 10px;
  border-bottom: 2px solid black;
  color: #00539cff;
}

.text-color {
  color: #1764ff;
}

.h1-black {
  color: black;
  font-weight: 400;
}

.input-account {
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-left: 20px;
  border-bottom: 2px solid black;
  border-radius: 50px;
  color: #00539cff;
  margin-left: 40%;
  margin-top: 20px;
  font-size: 20px;
}

.input-button {
  height: 40px;
  width: 190px;
  margin-bottom: 30px;
  margin-left: 105%;
  color: #00539cff;
  border-radius: 50px;
  border: 2px black solid;
  font-size: 25px;
  background-color: white;
}

/* inventory styling */
.inventory-wrapper {
  /* display: flex; */
  justify-content: center;
}

.mana-symbols {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  /* width: 80%; */
}

.card-name {
  font-size: large;
}

.sell-btn {
  border: #4eb7ee solid 1px;
  width: 100px;
  height: 40px;
  background-color: #4eb7ee;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 50px;
}

.MuiDialog-paperWidthXl {
  width: 70%;
  height: 60%;
}

.sell-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'quantity cashing'
    'quantity  market';

  width: 100%;
  height: 100%;
  text-align: center;
}

.sell-h1 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 500;
}

.quantity-to-sell {
  grid-area: quantity;
  border-right: gray 1px solid;
}

.quantity-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: gray solid 1px;
  border-radius: 90%;
  font-size: 60px;
  font-weight: 400;
  color: gray;
  background-color: white;
  margin-top: 10px;
}

.quantity-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: gray solid 1px;
  border-radius: 90%;
  font-size: 40px;
}

.cashing-sell {
  grid-area: cashing;
  border-bottom: gray 1px solid;
  align-items: center;
}

.market-sell {
  grid-area: market;
}

.market-sell-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.market-sell-input {
  margin-bottom: 30px;
  width: 50%;
  height: 30px;
  border-radius: 50px;
  border: gray 1px solid;
  text-align: center;
}

.extra {
  margin-top: 50px;
}

.loader-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.imgHover {
  position: absolute;
  left: 30px;
}
